body {
    background:cadetblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    text-align: center;
    justify-items: center;

    & h1 {    
        color: #FAEBD7;
    }
    
    & h2 {
        color: #FAEBD7;
    }
    
    & h3 {
        color: aliceblue;
    }
    
    & p {
        color: #F5F5DC;
    }

    & section {
        padding: 20px;
        margin: 20px;
        border:solid 3px burlywood; 
    }

    & button {
        text-decoration: none;
        color: black;
    }
}

.hidden {
    & img {
        display: none;
    }

    & button {
        display: none;
    }
}

#stairs-container {
    display:grid;
    gap:2rem;
    position: relative;
    width: 20ch;

    & img {
        bottom: 0;
        position: absolute;
    }

    & hr {
        border: solid black 7px;
        width: 93%;
    }
}

.railing {
    border-inline: solid black 4px;
}

@media only screen and (min-width: 800px) {
    .column {
        display: flex;
        justify-content: center;
    }

    .one {
        flex:1;
    }

    .three {
        flex: 3;
    }
}