body{
    background:cadetblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#content{
    background: cornflowerblue;
    width: 75%;
    margin: auto;
    padding: 5px;
}

/*Navigation*/

a {
    text-decoration: none;
    color: black;
}


/*Typography*/

h1 {    
    color: #FAEBD7;
}

h2 {
    color: #FAEBD7;
}

h3 {
    color: aliceblue;
}

p {
    color: #F5F5DC;
}