/*Structure*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    width:70%;
    margin:auto;
}

#main-content{
    color: brown;
}

#main-content section{
    background: skyblue;
}

#main-content h3{
    padding: 5px;
}

#main-content p{
    padding: 5px;
}

#main-content img{
    padding: 5px;
}

#main-header{
    background: skyblue;
    padding: 5px;

}

#main-footer{
    background: skyblue;
    padding: 5px;

}

.idea-img {
    display:block;
    margin: auto;
}

.idea img:nth-child(even) {
    background: pink;
}

#main-content:nth-child(even) {
    background:whitesmoke;
}

.gallery {
    background: skyblue;

}

.links {
    background: pink;
}

.title {
    text-align: center;
    padding: 5px;
}


/*Typography*/
#main-header h1{
    text-align: center;
}

/*Main Nav*/
#main-nav li{
    list-style-type: none;
    background: pink;
    color: aliceblue;
    border-bottom: 1px solid slategray;
    text-align: center;
}

#main-nav ul{
    padding-left: 0px;
}

#main-nav a{
    text-decoration: none;
}

#main-nav a:hover{
    color: aquamarine;
}

/*Larger Resolutions*/
@media only screen and (min-width: 768px){
    .columns {
        display: flex;  
    }

    #main-nav li {
        flex:1;
    }
    #main-nav li:not(:last-child) {
        border-right: 1px solid slategray;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }
    
    .three {
        flex:3;
    }

    .gallery {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .tile {
        flex-basis: 35%;
    }

    .node {
        flex-basis: 30%;
    }
}